NEXT_PUBLIC_APP_NAME="Market Biru - Koperasi SMKN 11 Bandung"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SCHOOL_NAME="SMKN 11 Bandung"
NEXT_PUBLIC_SCHOOL_TAGLINE="Unggul, Berkarakter, dan Berdaya Saing Global"
