NEXT_PUBLIC_APP_NAME="Market Biru - Koperasi SMKN 11 Bandung"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SCHOOL_NAME="SMKN 11 Bandung"
NEXT_PUBLIC_SCHOOL_TAGLINE="Unggul, Berkarakter, dan Berdaya Saing Global"

# Konfigurasi Database MySQL (Laragon)
DB_HOST="localhost"
DB_PORT=3306
DB_USER="root"
DB_PASSWORD=""
DB_NAME="market_biru"

# Autentikasi JWT Secret Key
JWT_SECRET="market_biru_koperasi_smkn11_bandung_secret_key_2026"
